
$headerHeight: 140px;
$headerButtonTop: 70px;

body {
    background-color: #ddd;
}

.mainContent {

    padding: 0px 20px 0 20px;

    #header {
        height: $headerHeight;
        width: 100%;

        .logo {
            text-align: left;
            margin-bottom: 25px;
        }

        .repoUrl {
            position: absolute;
            left: 400px;
            top: 20px;
            width: 800px;
            font-size: 20px;
        }

        #status div {
            position: absolute;
            left: 400px;
            top: $headerButtonTop;
            width: 200px;
            height: 50px;
            padding-top: 10px;
            color: white;
            text-align: center;
            font-size: 20px;
            font-weight: bold;

            &.idle {
                background-color: gray;
            }

            &.running {
                background-color: #33a;
            }

            &.polling {
                background-color: purple;
            }
        }

        #buildResult div {
            position: absolute;
            left: 630px;
            top: $headerButtonTop;
            width: 150px;
            height: 50px;
            font-size: 20px;
            font-weight: bold;
            padding-top: 10px;
            text-align: center;
            color: white;

            &.success {
                background-color: green;
            }

            &.failed {
                background-color: red;
            }

            &.unknown {
                background-color: gray;
            }
        }

        #stopBuildButton, #triggerBuildButton, #triggerPollButton {
            padding: 10px;
            width: 200px;
            height: 50px;
            margin-right: 15px;
            font-weight: bold;

            position: absolute;
            top: $headerButtonTop;
            height: 50px;

            &:disabled {
                color: #aaa;
            }
        }

        #triggerPollButton {
            left: 850px;
            width: 150px;
        }

        #triggerBuildButton {
            left: 1020px;
            width: 170px;
        }

        #stopBuildButton {
            left: 1210px;
            width: 170px;
        }
    }

    #buildLog {
        .title {
            font-size: 20px;
            margin-bottom: 8px;
        }

        #buildLogContent {
            border: 1px solid black;
            height: calc(100% - #{$headerHeight} - 55px);
            width: 100%;
            padding: 15px;

            .error {
                color: red;
                font-weight: bold;
            }

            .good {
                color: green;
                font-weight: bold;
            }
        }
    }
}
