<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>{{title}}</title>

        <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="scripts/status.js"></script>
        <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/status.css">

        <script type="text/javascript">
            Sicis.autoBuild = {{autoBuild}};
            Sicis.initialStatus = '{{status}}';
        </script>
    </head>
    <body>
        <div class="mainContent">
            <div id="header">
                <div class="title">
                    {{{title}}}
                </div>
                <div id="status">
                </div>
                <div id="elapsedTime">
                    {{{elapsedTime}}}
                </div>
                <div id="buildResult">
                    {{{buildResult}}}
                </div>
                <div class="repoUrl">
                    <a href="{{gitRepoUrl}}">{{gitRepoUrl}}</a> &nbsp;&nbsp;({{gitRepoBranch}})
                </div>
                <div class="autoBuildGroup">
                    <input id="autoBuild" type="checkbox" /><label for="autoBuild">Auto Build</label>
                </div>
                <input id="triggerPollButton" type="button" value="Force Poll Repo" disabled></input>
                <input id="triggerBuildButton" type="button" value="Force Trigger Build"></input>
                <input id="stopBuildButton" type="button" value="Cancel Build"></input>
            </div>
            <div id="buildLog">
                <div class="tabwell">
                    <div class="deselected" id="previousLogButton">Previous Log</div>
                    <div class="selected" id="currentLogButton">Current Log</div>
                </div>
                <pre id="currentBuildLogContent">
{{{currentBuildLog}}}
                </pre>
                <pre style="display:none" id="previousBuildLogContent">
{{{previousBuildLog}}}
                </pre>
            </div>
        </div>
    </body>
</html>
