<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>Build Status</title>

        <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="scripts/status.js"></script>
        <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/status.css">
    </head>
    <body>
        <div class="mainContent">
            <div id="header">
                <div class="logo">
                    <img src="images/Logo.png" />
                </div>
                <div id="status">
                    {{{status}}}
                </div>
                <div id="buildResult">
                    {{{buildResult}}}
                </div>
                <div class="repoUrl">
                    <a href="{{gitRepoUrl}}">{{gitRepoUrl}}</a> &nbsp;&nbsp;({{gitRepoBranch}})
                </div>
                <input id="triggerPollButton" type="button" value="Force Poll Repo"></input>
                <input id="triggerBuildButton" type="button" value="Force Trigger Build"></input>
                <input id="browseFilesButton" type="button" value="Browse File Listing"></input>
            </div>
            <div id="buildLog">
                <div class="title">Log Summary: (see <a href="/BuildLog.txt">full log</a> here)</div>
                <pre id="buildLogContent">
{{{buildLog}}}
                </pre>
            </div>
        </div>
    </body>
</html>
