<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>Build Status</title>

        <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="scripts/status.js"></script>
        <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/status.css">
    </head>
    <body>
        <div class="mainContent">
            <div id="infoPane">
                <div class="logo">
                    <img src="images/Logo.png" />
                </div>
                <table>
                    <tr>
                        <td>Status:</td>
                        <td id="status">{{status}}</td>
                    </tr>
                    <tr class="buildResultRow">
                        <td>Last Build Result:</td>
                        <td id="buildResult">{{{buildResult}}}</td>
                    </tr>
                    <tr>
                        <td>Repository URL:</td>
                        <td>{{{gitRepoUrl}}}</td>
                    </tr>
                    <tr>
                        <td>Local Directory:</td>
                        <td>{{{repoPath}}}</td>
                    </tr>
                </table>
            </div>
            <div id="buttonsPane">
                <input id="triggerPollButton" type="button" value="Force Poll Repo"></input>
                <input id="triggerBuildButton" type="button" value="Force Trigger Build"></input>
                <input id="browseFilesButton" type="button" value="Browse File Listing"></input>
            </div>
            <div id="buildLog">
                <div class="title">Current / Most Recent Log: (see <a href="/build/BuildLog.txt">full log</a> here)</div>
                <pre id="buildLogContent">
{{{buildLog}}}
                </pre>
            </div>
        </div>
    </body>
</html>
